@model BrianTecnology.Models.Categorium

@{
    ViewData["Title"] = "Editar Categoria";
}

<div class="row">
    <div class="col-12">
        <div class="card card-border">
            <div class="card card-header">
                <h3><strong>Editar Categoria</strong></h3>
            </div>
            <div class="card card-body">

               <form asp-action="EditarCategoria" asp-Controller="Categoria" method="post">
                   <div asp-validation-summary="ModelOnly" class=text-danger></div>

                   <div class="form-group mt-3">
                       <label asp-for="Descripcion" class="control-label">Descripcion de la Categoria: </label>
                       <input asp-for="Descripcion" class="form-control mt-3" type="text"  placeholder="Descripcion de la categoria..." />
                       <span asp-validation-for="Descripcion" class="text-danger"></span>
                   </div>

                   <br/>
                   <div class="mt-3" >
                       <button type="submit" class="btn btn-success"><i class="bi bi-plus-circle"></i> Editar Categoria</button>
                       <a asp-action="Index" asp-Action="Categoria" class="btn btn-secondary">Volver al Inicio</a>
                   </div>

               </form>
                
            </div>
        </div>
    </div>
</div>